.atividades {
    width: 100%;
    height: var(--space-16);
    background-color: var(--azul);
    color: var(--branco);
}

.box-to-box-atividades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: var(--space-6) var(--space-14);
}

.box-atividade-01, .box-atividade-02, .box-atividade-03 {
    flex-direction: column;
    text-align: center;
    padding: 0 var(--space-8);
}

.titulo-atividade {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-3);
    color: var(--branco);
    font-size: var(--fonte-xl);
    font-style: normal;
    font-weight: 700;
    line-height: var(--space-4);
}

.atividades i {
    font-size: var(--fonte-hero);
}

.texto-atividade {
    color: var(--branco);
    padding: var(--space-3);
    font-size: var(--fonte-sm);
    font-weight: 400;
    line-height: var(--space-3);
}

.botao-atividade {
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--branco);
    font-size: var(--fonte-md);
    font-weight: 700;
    transition: border-bottom 0.2s ease-in; 
    border-bottom: 2px solid transparent; 
    border-radius: 2px;
    width: var(--space-10);
    padding: var(--space-1);
}

.botao-atividade:hover {
    color: var(--vermelho);
    border-bottom: 2px solid var(--vermelho); 
}
