.atividades {
    width: 100%;
    height: var(--space-16);
    background-color: var(--azul);
    color: var(--branco);
}

.box-to-box-atividades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: var(--space-6) var(--space-14);
}

.box-atividade-01, .box-atividade-02, .box-atividade-03 {
    flex-direction: column;
    text-align: center;
    padding: 0 var(--space-5);
}

.titulo-atividade {
    padding: var(--space-3);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--branco);
    font-size: var(--fonte-lg);
    font-style: normal;
    font-weight: 700;
    line-height: var(--space-4);
}

.imagem-atividade-cartao {
    width: var(--space-9);
    height: var(--space-7);
}

.imagem-atividade-localizacao, .imagem-atividade-estetoscopio {
    width: var(--space-7);
    height: var(--space-7);
}

.texto-atividade {
    color: var(--branco);
    padding: var(--space-3);
    font-family: Inter;
    font-size: var(--fonte-sm);
    font-weight: 400;
    line-height: var(--space-3);
}

.botao-atividade {
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--branco);
    font-size: var(--fonte-md);
    font-weight: 700;
}