.contatos {
    width: 100%;
    height: var(--space-17);
    background-color: var(--cinza);
    color: var(--azul);
    margin-top: var(--space-9);
}

.box-contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: var(--space-6) var(--space-14) var(--space-8);
}

.contato-email,
.contato-app {
    flex-direction: column;
    text-align: center;
    padding: 0 var(--space-5);
}

.imagem-contato {
    width: var(--space-7);
    height: var(--space-7);
    margin: var(--space-2);
}

.titulo-contato {
    text-align: center;
    padding: var(--space-3);
    color: var(--azul);
    font-size: var(--fonte-xl);
    font-weight: 700;
    line-height: var(--space-4);
}

.quebra {
    white-space: normal;
}

.quebra::before {
    content: "\A";
    white-space: pre;
}

.texto-contato-app {
    padding: var(--space-4);
    font-family: var(--f-fam);
    font-size: var(--fonte-sm);
    font-weight: 400;
    line-height: var(--space-3);
}

.texto-contato {
    padding: var(--space-3);
    font-family: var(--f-fam);
    font-size: var(--fonte-sm);
    font-weight: 400;
    line-height: var(--space-3);
}

/* ========== FORM ========== */

.form-contato {
    display: flex;
    justify-content: center;
    margin: var(--space-2);
}


.input-contato {
    border-radius: var(--space-3);
    border: 1px solid var(--azul);
    color: var(--azul);
    width: var(--space-16);
    height: var(--space-6);
    padding: var(--space-3);
    background: var(--branco);
}

.botao-contato {
    background: var(--azul);
    color: var(--branco);
    border: none;
    border-radius: var(--space-3);
    width: var(--space-16);
    height: var(--space-6);
    padding: var(--space-1);
    font-size: var(--fonte-md);
    font-weight: 600;
    cursor: pointer;
}

.botao-contato:hover {
    background-color: var(--vermelho);
    transition: 0.3s;
}